:root {
    --content-height: calc( 100vh - 50px );
}
.container-row-768-column{
    display: flex;
}
.container-banner {
    width: 1200px;
}
.content-container {
    width: 100%;
    height: var(--content-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header-container {
    justify-content: space-between;
    margin-bottom: 1rem;
}
.header-search {
    width: 300px;
}
@media  screen and (max-width: 768px) {
    .container-row-768-column{
        flex-direction: column;
        gap: 0.5rem;
    }
    .header-search {
        width: min-content;
    }
    .header-container .container {
        width: 100%;
        justify-content:space-around;
    }
}

.home-container {
    display: flex;
    height: calc(100vh - 32px - 2rem);
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.book-card {
    width: 200px;
    margin: 1rem 18px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}
.book-meta h4, .book-meta h6 {
    width: calc(200px - 2rem);
}
.book-image {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media  screen and (max-width: 768px) {
    .home-container {
        justify-content: space-evenly;
    }
    .book-card {
        width: 150px;
        margin: 1rem 0;
    }
    .book-meta h4, .book-meta h6 {
        width: calc(150px - 2rem);
    }
}
@media  screen and (max-width: 1200px) {
    .container-banner {
        width: 100%;
    }
}

.login-container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
    max-width: 400px;
}
.login-captcha-container{
    display: flex;
    gap: 0.2rem;
    align-items:end;
}
@media screen and (max-width: 768px){
    .login-container{
        max-width: unset;
    }
    
}
.book-info-container {
    max-width: 1100px;
    display: flex;
    gap:2rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.book-info-container-center {
    max-width: 750px;
    display: flex;
    padding: 2rem 1rem;
    border-radius: 1rem;
    gap:1rem;

    overflow: hidden;
}
.book-info-container-center .book-info-meta {

    max-width: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5rem;
}
.book-info-container-center .book-info-meta .book-info-meta-category{
    width: fit-content;
    background-color: #DBEAFE;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #515455;
}
.book-info-container .tab-item{
    flex: 1;
    text-align: center;
}
.book-info-catalog{
    max-height: 280px;
}
.book-info-catalog-item{
    padding: 1rem 2rem;
}
.book-info-fast-catalog {
    max-width: 320px;
    width: 320px;
    padding: 1rem 0 1rem 1.5rem ;
    margin-bottom: 2rem;
}
.book-info-fast-catalog .text-primary{
    margin-right: 1.5rem;
}
.book-info-fast-catalog-item {
    margin: 0.5rem 0;
}
.book-info-description{
    padding: 0.2rem 1rem;
    min-height: 150px;
}
.book-info-fast-catalog-list {
    max-height: 300px;
}
@media screen and (max-width: 768px){
    .book-info-container-center {
        max-width: unset;
        padding: 1rem 0.5rem;
    }
    .book-info-container {
        max-width: unset;
        width: 100%;
    }
   .book-info-container-center .book-info-meta {
        flex: 1;
   }
   .book-info-catalog-item {
       padding: 0.5rem 1rem;
   }
   .book-info-description {
       min-height: unset;
   }
   .book-info-fast-catalog {
    max-width: unset;
    width: 100%;
   }
}


