:root {
    --content-height: calc( 100vh - 50px );
}
.container-banner {
    width: 1200px;
}
.content-container {
    width: 100%;
    height: var(--content-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header-container {
    justify-content: space-between;
    margin-bottom: 1rem;
}
.header-search {
    width: 300px;
}
@media  screen and (max-width: 768px) {
    .header-search {
        width: min-content;
    }
    .header-container .container {
        width: 100%;
        justify-content:space-around;
    }
}

.home-container {
    display: flex;
    height: calc(100vh - 32px - 2rem);
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.book-card {
    width: 200px;
    margin: 1rem 18px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) ;
}
.book-meta h4, .book-meta h6 {
    width: calc(200px - 2rem);
}
.book-image {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media  screen and (max-width: 768px) {
    .home-container {
        justify-content: space-evenly;
    }
    .book-card {
        width: 150px;
        margin: 1rem 0;
    }
    .book-meta h4, .book-meta h6 {
        width: calc(150px - 2rem);
    }
}
@media  screen and (max-width: 1200px) {
    .container-banner {
        width: 100%;
    }
}

.login-container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
    max-width: 400px;
}
.login-captcha-container{
    display: flex;
    gap: 0.2rem;
    align-items:end;
}
@media screen and (max-width: 768px){
    .login-container{
        max-width: unset;
    }
    
}